.welcome{
  background-color: #081CFF;
  width: 100%;
  height: auto;
  position: relative;
  height:35 0px;
  padding-top: 95px;
  padding-left: 69px;
  padding-right: 83px;
  padding-bottom: 49px;
}
.belowWelcome{
  padding-right: 80px;
  padding-left: 80px;
}
.tabelNilai{
  padding-left: 84px;
  padding-right: 55px;
  padding-top: 59px;
  padding-bottom: 78px;
}
.tabelUpload{
  padding-left: 54px;
  padding-right: 82px;
  padding-top: 26px;
  padding-bottom: 25px;
}
.kotakPraktikum{
  padding-left: 300px;
  padding-right: 300px;
  padding-bottom: 100px;
  padding-top: 100px;
}
.aturanJurnal{
  margin-bottom: 60px;
}
#btnDownloadSoal{
  margin-bottom: 20px;
}